/*
 * Google Udacity FEND
 * Lesson 18, Portfolio Site
 * Saso Kuncic
 */

/* COMMON */
body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #311b92;
}

h1,
p {
  margin: 0; 
}

h1 {
  font-size: 24px;
}

.header_inner,
.content,
footer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
#header {
	width: 100%;
	min-height: 65px;
	position: fixed;
}

.header_inner {	
	background-color: #bbdefb;
}

.header_box {
  margin-left: 110px;
  padding-top: 9px;
  display: inline-block;
}

.header_logo {
	width: 50px;
	margin-left: 10px;
}

.header_title {
  font-size: 24px;
  font-family: Georgia, serif;
  font-weight: bold;
}

.header_description {
  font-size: 16px;
  font-weight: normal;
}

/* BANNER */
.banner {
    width: 100%;
}

.banner_img {
  margin-top: 80px;
}

/* PROJECTS */
.project_img {
	width: 220px;
	border: 10px;
}

/* FOOTER */
footer {
	width: 100%;
}

.footer_inner {	
	background-color: #bbdefb;
	margin: 0;
}

/*
These are the responsive styles.
*/

.projects {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 349px) {
	.project  {
  		width: 100%;
  		float: none;
	}
	.header_title,
	h1 {
	  font-size: 20px;
	}
	.header_description,
	p {
	  font-size: 14px;
	}

@media screen and (min-width: 350px) {
	.project  {
  		width: 50%;
  		float: none;
	}
}

@media screen and (min-width: 800px) {
	.project  {
  		width: 33.3333%;
  		float: none;
	}
}
